#a {
    --theme-color: #80ceff;
    --scrollbar-track-color: rgba(255, 255, 255, 0.5);
    --scrollbar-thumb-color: rgba(193, 193, 193, 0.6);
    --scrollbar-thumb-hover-color: rgba(168, 168, 168, 0.78);
    --background-color: #ffffff;
    --background-color-anti: #292A2D;
    --text-color: #434344;
    --text-color-anti: #E4E4E7;
    --text-secondary-color: #b9bdbe;
    --border-color: #6C787F;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --box-shadow-color-anti: rgba(255, 255, 255, 0.2);
    --disabled-background-color: #dedede;
    --disabled-text-color: #000000;
    --button-hover-background-color: #dadada;
    --button-active-background-color: #c3c3c3;
    --sidebar-expand-container-background-color: rgba(249, 251, 255, 0.5);
    --sidebar-expand-container-info-text-color: #5b5b5b;
    --sidebar-expand-container-info-text-color-anti: #a9abad;
    --sidebar-item-hover-background-color: #dadada;
    --chat-input-button-border-color: #d3d3d3;
    --chat-input-attachment-button-background-color: #363636;
    --chat-input-attachment-button-text-color: #d3d3d3;
    --chat-system-background-color: rgba(227, 205, 205, 0.7);
    --chat-system-text-color: #464646;
    --chat-user-background-color: rgba(227, 242, 253, 0.7);
    --chat-user-text-color: #464646;
    --chat-assistant-background-color: rgba(245, 245, 245, 0.7);
    --chat-assistant-text-color: #464646;
    --chat-dialogue-time-text-color: #868788;
    --chat-disclaimer-text-color: #868788;
    --blockquote-text-color: #57606a;
    --blockquote-border-color: #d0d7de;
    --blockquote-bg-color: rgba(175, 184, 193, 0.1);
    --active-background-color: rgba(189, 229, 255, 0.5);
    --active-background-color-anti: rgba(107, 130, 145, 0.5);
    --loading-mask-background-color: rgba(255, 255, 255, 0.6);
    --loading-spinner-border-color: rgba(255, 255, 255, 0.1);
    --right-click-menu-background-color: #F9FBFF;
    --right-click-menu-background-color-anti: #212327;
}